/* 吹き出し本体 */
.balloon{
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* beforeで三角を表現 */
.balloon::before{
  content: '';
  position: absolute;
  left: 20px;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(255, 255, 255, 0.3);
  border-left: 15px solid transparent;
}