/* --------------------------------------------------------
Style Sheet for Takumi's Awesome Web

version: 1.0
last modified: 09.11.2018 by Takumi Minohara
author: Takumi Minohara
email: takumi.minohara08@gmail.com
website: http://takumiminohara.site
----------------------------------------------------------*/

/*** Universal Setting ***/
body{
    margin:0;
    padding:0;
    width: 100%;
}

.center{
    margin: 0 auto;
}

.content{
    margin: 0 auto;
    width: 960px;
}

.clear{
    clear: both;
}

nav{
    height: 0px;
}


/*** Hamburger Menu ***/
#menuToggle{
    display: block;
    position:relative;
    top: 50px;
    left: 50px;
    width: 960px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a{
    text-decoration:none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color:darkslategray;
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px; 
    left: -5px;
    cursor: pointer;
    opacity:0;
    z-index:2;
}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index:1;
    transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
/*
 * default value for the location is 50% 50%.
 * in this case, the middle bar is default and 0% 0% means
 * to move the bar to top.
 */

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul{
    transform:none;
}

#menu{
    position: absolute;
    width: 100%;
    height: 0%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    top: 40px;
    
    background: -moz-linear-gradient(left, rgba(237,237,237,0.7) 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(237,237,237,0.7) 45%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(237,237,237,0.7) 45%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05,1.0);
}

#menu li{
    font-size: 22px;
    display: inline;
    padding-right: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom ease .3s;
}

#menu li:hover{
    border-color:black;
}

#menu li:first-child{
    margin-left: 75px;
}

/*** Main Slide ***/
#main{
    background: url("../images/topbg.jpg") 100% 0 no-repeat fixed;
    min-height: 72%;
    background-size: cover;
    color: white;
    padding: 100px 200px;
}

#main h1{
    margin-top: 0px;
    display: block;
    text-align: center;
    font-size: 500%;
    font-family: 'Bungee Shade', cursive;
    margin-bottom: 0px;
    user-select:none;
}

#scrollDown{
    position: relative;
    height: 70px;
    width: 50px;
    padding: 5px;
    margin: 0 auto;
    top: 100px;
}

#scrollDown a{
    text-decoration: none;
    cursor: pointer;
    font-size: 80px;
    color: white;
}

#skillsets{
    width: 100%;
    margin-top: 250px;
    display: none;
    user-select:none;
    margin-bottom: 100px;
}

#skillsets img{
    width: 100%;
    margin: auto;
    display: block;
}

/*** HR bar ***/
hr {
    border: none;
    border-top: 3px double #D4AF37;
    color: #D4AF37;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    color: #D4AF37;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -11px;
}

.grow-start{
    color: white;
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
}

.grow-end{
    width:80%;
}

/*** Content ***/
#content{
    padding: 150px 200px;  
    color: white;
    background-image: linear-gradient(to top, 
    #2f2f2f, #252526, #1c1c1e, #131315, #04050a);
    margin: 0;
}

.slides{
    margin-top: 200px;
}

.slides h1{
    font-family: 'Barlow', sans-serif;
    margin-bottom: 30px;
}

.slides p{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*** About Me ***/
#about{
    max-height: 900px;
}

#bgImage{
    width: 50%;
}

#profile{
    margin:30px;
    width:200px;
    height:200px;
    border-radius:100%;
    float:right;
    position:relative;
    top:-100px;
}

.text-profile{
    position: relative;
    z-index: 1;
    top: -300px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 120%;
}

#resume{
   margin-top: 30px;
}

#resume a{
    text-decoration: none;
}

/*** Works ***/
#portfolio{
    margin-top: 200px;
    margin-bottom: 550px;
}

#websites td{
    height: 50px;
    text-align:center;
}

#websites img{
    width:90%;
}

#websites a{
    text-decoration:none;
    color:white;
    transition:color ease 0.2s;
}

#websites a:hover{
    color:darkslategray;
}

/*** Videos & Photos ***/
.tiles-grid{
    margin:auto;
}

td > a {
    display:block;
    text-align:center;
    text-decoration: none;
    color: white;
}

td > img {
    margin:auto;
    display:block;
}

td > p {
    display:block;
    text-align:center;
}

.pressMe{
    font-size:240%;
    padding:30%;
}


/*** Contact ***/
#form{
    margin:0 auto;
    display: block;
}

.socializer{
    float: right;
}

/*** Footer ***/
#scrollTop{
    position: fixed;
    top: 950px;
    right: 80px;
    height: 70px;
    width: 50px;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    padding: 4px;
    margin: 30px;
    box-shadow: 5px 5px 10px -5px rgba(110,110,110,0.6);
    display: none;
}

#scrollTop a{
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
    color: darkslategray;
}

#copyright{
    font-size: 14px; 
    text-align: center;
    background-color: rgba(210,210,210,0.3);
}

#copyright p{
    margin: 0;
}