/* --------------------------------------------------------
Style Sheet for Takumi's Portfolio

version: 1.0
last modified: 19.06.2019 by Takumi Minohara
author: Takumi Minohara
email: takumi.minohara08@gmail.com
website: http://takumiminohara.site
----------------------------------------------------------*/

/*** Universal Setting ***/
body{
    margin:0;
    padding:0;
    width: 100%;
}

.center{
    margin: 0 auto;
}

.content{
    margin: 0 auto;
}

.clear{
    clear: both;
}

.tab{ margin-left: 40px;}

nav{
    height: 0px;
}


/*** Hamburger Menu ***/
#menuToggle{
    display: block;
    position:fixed;
    top: 10px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menuToggle a{
    text-decoration:none;
    top: 18px;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color:darkslategray;
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px; 
    left: -5px;
    cursor: pointer;
    opacity:0;
    z-index:2;
}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index:1;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
      -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
/*
 * default value for the location is 50% 50%.
 * in this case, the middle bar is default and 0% 0% means
 * to move the bar to top.
 */

#menuToggle span:first-child{
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%
}

#menuToggle input:checked ~ span{
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    -webkit-transform: rotate(-45deg) translate(0, -1px);
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul{
    -webkit-transform:none;
    transform:none;
}

#menu{
    position: fixed;
    width: 100%;
    height: 0%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    background: -webkit-gradient(linear, left top, right top, color-stop(45%, rgba(237,237,237,0.7)),to(rgba(255,255,255,0)));
    background: linear-gradient(to right, rgba(237,237,237,0.7) 45%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    -webkit-transform-origin: 0% 0%;
    
    transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05,1.0);
    
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05,1.0);
    
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05,1.0);
    
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05,1.0);
}

#menu li{
    font-size: 15px;
    letter-spacing: 3px;
    display: inline;
    padding-right: 20px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom ease .3s;
    transition: border-bottom ease .3s;
}

#menu li:hover{
    border-color:black;
}

#menu li:first-child{
    margin-left: 75px;
}

/*** Main Slide ***/
#main{
    background: url("lib/images/topbg.jpg") 55% 0 no-repeat fixed;
    min-height: 100%;
    background-size: cover;
    color: white;
    padding: 130px 200px;
    
}

#main h1{
    margin-top: 0px;
    display: block;
    text-align: center;
    font-size: 500%;
    font-family: 'Bungee Shade', cursive;
    margin-bottom: 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#scrollDown{
    position: relative;
    height: 70px;
    width: 50px;
    padding: 5px;
    margin: 0 auto;
    top: 100px;
}

#scrollDown a{
    text-decoration: none;
    cursor: pointer;
    font-size: 80px;
    color: white;
}

#skillsets{
    width: 100%;
    margin-top: 250px;
    display: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin-bottom: 100px;
}

#skillsets img{
    width: 100%;
    margin: auto;
    display: block;
}

/*** HR bar ***/
hr{
    
}

hr:after {
    color: #D4AF37;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -11px;
}

.grow-start{
    border: none;
    border-top: 3px double #D4AF37;
    color: #D4AF37;
    overflow: visible;
    text-align: center;
    height: 5px;
    color: #D4AF37;
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    -webkit-transition: width 1s  ease-out;
    transition: width 1s  ease-out;
    width : 0%;
}

.grow-end{
    width:90%;
}

/*** Content ***/
#content{
    padding: 150px 200px;  
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(56,56,56,1)),color-stop(40%, rgba(34,34,34,1)),to(rgba(0,0,0,0))), url("lib/images/content.png") 100% repeat;
    background: linear-gradient(to bottom, rgba(56,56,56,1) 0%,rgba(34,34,34,1) 40%,rgba(0,0,0,0) 100%), url("lib/images/content.png") 100% repeat;
    margin: 0;
    background-size: 50%; 
}


.slides{
    margin-top: 250px;
    
    height: 100vh;
}

.slides h1{
    font-family: 'Barlow', sans-serif;
    margin-bottom: 30px;
}

.slides p{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*** About Me ***/
#about{
    max-height: 900px;
}

#about h1{
    float: left;
}

#bgImage{
    width: 50%;
}

#profile{
    margin:30px;
    width:200px;
    height:200px;
    border-radius:100%;
    float:right;
    position:relative;
    top:-100px;
}

.text-profile{
    position: relative;
    top: -350px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 120%;
}

#resume{
   margin-top: 30px;
}

#resume a{
    text-decoration: none;
    color: white;
    -webkit-transition: color, 0.2s;
    transition: color, 0.2s;
}

#resume a:hover,
#resume a:active,{
    color: #343434;
}

/*** Works ***/
#portfolio{
    
}

#portfolio table{
    margin: 0 auto;
    background-color: dimgrey;
    border-radius: 7px;
    width: 100%;
    height: 50%;
}

#websites td{
    height: 50px;
    border-right: 1px dashed #525252;
}

#websites td:last-child{
    border-right: 0px;
}


#websites img{
    width:90%;
}

#websites a{
    text-decoration:none;
    color:white;
    -webkit-transition:color ease 0.2s;
    transition:color ease 0.2s;
}

#websites a:hover{
    color:darkslategray;
}

/*** Videos & Photos ***/
#videos h1{
    margin-bottom: 50px;
}

#videos button{
    width: 30%;
    margin-top: 50px;
    background-color: #1A232E;
    -webkit-transition: background-color .5s, width 1s ease-in;
    transition: background-color .5s, width 1s ease-in;
}

#videos button:hover{
    background-color: #707f90;
    width: 100%;
}

#videos button a{
    color: white;
    text-decoration: none;
}

.tiles-grid{
    margin:auto;
}

td > a {
    display:block;
    text-align:center;
    text-decoration: none;
    color: white;
}

td > img {
    margin:auto;
    display:block;
}

td > p {
    display:block;
    text-align:center;
}

.pressMe{
    font-size:240%;
    padding:30%;
}


/*** Contact ***/
#form{
    margin:0 auto;
    display: block;
    width: 100%;
}

.socializer{
    float: right;
}

/*** Footer ***/
#scrollTop{
    position: fixed;
    top: 950px;
    right: 80px;
    height: 70px;
    width: 50px;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    padding: 4px;
    margin: 30px;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(110,110,110,0.6);
    box-shadow: 5px 5px 10px -5px rgba(110,110,110,0.6);
    display: none;
}

#scrollTop a{
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
    color: darkslategray;
    top: -10px;
    left: -1px;
}

#copyright{
    font-size: 14px; 
    text-align: center;
    background-color: rgba(210,210,210,0.3);
}

#copyright p{
    margin: 0;
}

/*** Gallery ***/

#gallery{
    margin-top: 50px;
}

#credit-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#credit{
    width: 50%;
}

.gallery-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery-col{
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.img-container {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.img-container[data-emergence=hidden]{
    opacity: 0;
    -webkit-transition: opacity ease 3s;
    transition: opacity ease 3s;
}

.img-container[data-emergence=visible]{
    opacity: 1;
}

.gallery-back {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)),color-stop(40%, rgba(255,255,255,1)),to(rgba(255,255,255,0))), url("lib/images/background-g.png") 73% repeat;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%), url("lib/images/background-g.png") 73% repeat;
    padding: 1% 5% 5% 5%;
}

#license-text{
    background-color: #efefef;
    border-radius: 5px;
    padding: 5%;
}

#license-text button{
    background-color: #f4f4f4;
    border-radius: 3px;
    color: #363636;
    -webkit-transition: background-color 1s, color 1s;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
    height: 36px;
}

#license-text button:hover{
    background-color: #404040;
    color: #f8f8f8;
}

.gallery-back h1{
    display: block;
    background-color: white;
    margin-top: 50px;
}

.gallery-back h1:after{
  position: absolute;
  top: 2.5em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background: #696969;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery-back h1:hover:after{
  width: 100%;
}

.image-overlay a{
	z-index: 2;
    margin: 4%;
    background-color: rgba(0, 60, 157, 0.2);
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.image-overlay a:hover{
    background-color: rgba(0, 60, 157, 0.9)
}

.image-overlay {
	background-color: rgba(2, 22, 67, 0.5) !important;
}

.button-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
